:root {
  --red-color: #8e3042;
  --blue-color: #0b5586;
}

* {
  margin: 0 0;
  padding: 0 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.2rem;
  overflow-x: hidden;
}
main {
  width: 100vw;
  min-width: 100%;
  min-height: 80vh;
  margin-top: 14vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
p {
  padding: 1rem;
  line-height: 1.5rem;
}
hr {
  margin: 1rem 0;
  width: 100%;
}
.hr-dashed{
  border: 1px dashed var(--red-color);
  width: 70%;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
}
button {
  width: 10rem;
  height: 2rem;
  font-weight: bold;
  background-color: white;
  color: var(--red-color);
}
button:hover {
  color: white;
  background-color: var(--red-color);
}
h1 {
  text-transform: uppercase;
}
h2 {
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  padding: 1rem;
  color: var(--red-color);
}

label {
  display: flex;
  flex-direction: column;
}
input,
select {
  height: 1.8rem;
  border: 1px solid var(--red-color);
  border-radius: 5px;
  padding: 0.2rem 0.4rem;
}
textarea {
  border: 1px solid var(--red-color);
  border-radius: 5px;
  padding: 0.2rem 0.4rem;
}
input[type="checkbox"] {
  height: 1.2rem;
  border: 1px solid var(--red-color);
  border-radius: 5px;
}
img {
  max-width: 100%;
  height: auto;
}
/* HEADER */
header {
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: #ffffffe8;
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
header img {
  height: 10vh;
}
header img:hover {
  transform: scale(1.1);
}
/* Style all font awesome icons */
.fa {
  padding: 0.4rem;
  font-size: 1rem;
  width: 2rem;
  height: 2rem;
  text-align: center;
  border-radius: 100%;
  border: 2px solid var(--red-color);
  color: var(--red-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa:hover {
  background-color: var(--red-color);
  opacity: 0.8;
  color: white;
}
#rrss {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 0;
}

.telefon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 2rem;
  color: var(--red-color);
  font-weight: bold;
}
nav {
  width: 70vw;
}
nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}
nav ul li {
  min-width: 4rem;
  border: 2px solid var(--blue-color);
  border-top: 0;
  padding: 0.5rem 0.8rem;
  text-align: center;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
nav ul li:hover {
  background-color: var(--blue-color);
  color: white;
  transition: color, background-color 1s ease;
}

/* HERO */
#hero {
  width: 100vw;
  min-width: 100%;
  height: 15rem;
  background-image: url("./img//TRIMA_header-e1551367603525.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#hero h1 {
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem;
  text-wrap: wrap;
  text-shadow: 2px 2px 5px var(--blue-color);
}
.title {
  color: var(--blue-color);
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem;
  text-wrap: wrap;
  text-shadow: 2px 2px 5px var(--blue-color);
}
#hero p {
  width:25vw;
  max-width: 50%; /* Màxim el 50% de l'amplada del contenidor pare */
  min-width: 200px; /* Mínim 200 píxels */
  background-color: #0b5586da;
  color: white;
  min-width:305px;
  border-radius: 0.4rem;
}

#intro {
  width: 90vw; 
  display: flex; 
  gap: 2rem;
  padding: 4rem; 
  margin: 0 2rem;
  align-items: center;
}
#qui-som {
  width: 90vw;
  min-width: 300px;
  padding: 1rem;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  margin: 1rem 0;
}
.list-serveis {
display: flex;
flex-wrap: wrap;
justify-content: center;
  gap: 1rem;
  list-style: none;
  >li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid var(--blue-color);
    border-radius: 1rem;
    color: white;
    background-color: var(--blue-color);
  }
}

/* SECTION SERVEIS */
#serveis {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
#serveis article {
  width: 25vw;
  min-width: 150px;
  max-width: 315px;
  height: 25vh;
  min-height: 100px;
  max-height: 234px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border: 2px solid var(--blue-color);
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  filter: grayscale(30%);
  transition: all 0.3s ease-in-out;
}
#serveis article:hover {
  filter: grayscale(0%);
  cursor: pointer;
  flex-grow: 1;
  transform: scale(1.1); 
  z-index: 5;
}
#serveis article p {
  width: 100%;
  padding: 1rem;
  background-color: #0b558690;
  color: white;
  border-bottom-right-radius: 1rem;
  text-transform: uppercase;
  font-weight: 700;
}
#bosch {
  background-image: url("./img/TRIMA_vehicles4-1-300x240.jpg");
  object-fit: cover;
}
#vehicles {
  background-image: url("./img/thumbnail_TRIMA_vehicles9b-315x234.jpg");
  object-fit: cover;
  background-repeat: no-repeat;
}

/* SECCIO LOCALITZACIO I CONTACTA */
#local-contacta {
  width: 100vw;
  /* padding: 1rem 1rem 4rem 1rem; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 4rem;
  background-color: var(--red-color);
  color: white;
  padding: 3rem 1rem;
}
#local-contacta div {
   width:35%; 
  height: 100%;
}

#local-contacta form {
  background-color: #ffffff6d;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

footer {
  width: 100%;
  background-color: black;
  color: white;
  padding: 0.8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
small {
  color: grey;
  text-align: center;
}

@media (max-width: 480px) {
  header {
    width: 100vw;
    padding: 0.5rem;
    justify-content: center;
    gap: 0rem;
  }
  main {
    margin-top: 18vh;

  }
  .telefon {
    transform: scale(0.6);
  }
  #intro {
    flex-direction: column;
    align-items: center;
  }
  #serveis {
    flex-direction: row;
  }

}
@media (max-width: 768px) {
  #local-contacta div {
    width: 100%; /* Ocupa tota l'amplada en pantalles petites */
  }
}
.franja-colors {
    width: 120%; /* O l'amplada total que vulguis per la franja */
    height: 1rem; /* O l'alçada que vulguis per la franja */
    overflow: hidden;
    background: linear-gradient(to right,
        #21518f 70%,                            /* Blau des de l'inici fins al 70% */
        white 70%,                              /* Blanc comença al 70% */
        white calc(70% + 0.5rem),                 /* Blanc acaba 1rem després del 70% */
        #bb2234 calc(70% + 0.5rem),                /* Vermell comença on acaba el blanc */
        #bb2234 100%                            /* Vermell s'estén fins al final */
    );
    transform: skewX(-20deg) translateZ(0);
    margin: 0.5rem 0;
    /* filter: blur(0.5px); */
}




