#serveis-intro {
    width: 70vw;
}
#serveis-desc {
    width: 65vw;
    display: flex;
    justify-content: center;
    gap:1rem;
}
#serveis-desc article {
    border: 1px solid var(--blue-color);
    padding: 1rem;
    border-radius: 5px;
}
#serveis-desc ul {
    padding: 0 3rem;
}
#multimarca {
    width:15vw;
}

.imatges {
    width: 70vw;
    display: flex;
    gap:0.4rem;
}
.imatges img {
    width:20vw;
    min-width:70px;
    max-width: 200px;
    border: 1px solid var(--blue-color);
    filter: grayscale(30%);
}
.imatges img:hover{
    cursor: pointer;
    z-index: 2;
    transform: scale(1.2);
    filter: grayscale(0%);
    transition: all 0.8s ease-in
}