#serveis-intro {
    width: 70vw;
}
#serveis-desc {
    width: 65vw;
    display: flex;
    justify-content: center;
    gap:1rem;
}
#serveis-desc article {
    border: 1px solid var(--blue-color);
    padding: 1rem;
    border-radius: 5px;
}
#serveis-desc ul {
    padding: 0 3rem;
}
#multimarca {
    width:15vw;
}
#multimarca img {
    height:10%;
}

.imatges {
    width: 70vw;
    display: flex;
    gap:0.4rem;
}
.imatges img {
    width:20vw;
    min-width:70px;
    max-width: 200px;
    border: 1px solid var(--blue-color);
    filter: grayscale(30%);
}
.imatges img:hover{
    cursor: pointer;
    z-index: 2;
    transform: scale(1.2);
    filter: grayscale(0%);
    transition: all 0.8s ease-in
}

/* VEHICLES D'0CASIÓ */
#vehicles-ocasio .articles-group {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
#vehicles-ocasio .articles-group article {
    width:20vw;
    min-width: 150px;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: var(--blue-color);
    padding: 0.4rem;

}
#vehicles-ocasio .articles-group article div {
    padding: 0.2rem;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
}